site_name: sacloud/autoscaler
site_url: https://docs.usacloud.jp/autoscaler
site_description: sacloud/autoscaler
site_author: '@yamamoto-febc'
copyright: Copyright (C) 2021-2022 sacloud/autoscaler authors
theme:
  name: material
  language: ja
  features:
    - navigation.tabs
extra:
  analytics:
    provider: google
    property: G-9JFNZ70H7B
extra_css:
  - css/extra.css
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight
  - pymdownx.superfences
nav:
  - ホーム: index.md
  - Getting Started: getting_started.md
  - リファレンス:
    - CLI: cli.md
    - Inputs:
      - 概要: inputs/index.md
      - 共通設定: inputs/config.md
      - サポートされているInputs:
        - AlertManager: inputs/alertmanager/index.md
        - Grafana: inputs/grafana/index.md
        - Webhook: inputs/webhook/index.md
        - Zabbix: inputs/zabbix/index.md
        - Direct: inputs/direct/index.md
    - Configuration: configuration.md
    - Network: network.md
    - Exporter: exporter.md
  - Examples:
    - Coreの設定例:
      - 水平スケール:
        - ELB+サーバ: examples/horizontal-scale-server-and-elb.md
        - ELB+サーバ(クローン): examples/horizontal-scale-clone-server-and-elb.md
        - ELB+サーバ(cloud-init): examples/horizontal-scale-server-and-elb_cloud-init.md
        - LB+サーバ: examples/horizontal-scale-server-and-lb.md
      - 垂直スケール:
        - サーバ: examples/vertical-scale-server.md
        - ELB+サーバ: examples/vertical-scale-server-and-elb.md
        - LB+サーバ: examples/vertical-scale-server-and-lb.md
        - GSLB+サーバ: examples/vertical-scale-server-and-gslb.md
        - ルータ: examples/vertical-scale-router.md
        - エンハンスドロードバランサ: examples/vertical-scale-elb.md
  - アップグレードガイド:
      - v0.15へのアップグレード: upgrade/v0.15.md
      - v0.14へのアップグレード: upgrade/v0.14.md
      - v0.13へのアップグレード: upgrade/v0.13.md
      - v0.12へのアップグレード: upgrade/v0.12.md
      - v0.11へのアップグレード: upgrade/v0.11.md
      - v0.10へのアップグレード: upgrade/v0.10.md
      - v0.9へのアップグレード: upgrade/v0.9.md
      - v0.8へのアップグレード: upgrade/v0.8.md
      - v0.7へのアップグレード: upgrade/v0.7.md
      - v0.6へのアップグレード: upgrade/v0.6.md
      - v0.5以前からのアップグレード: upgrade/v0.5.md
  - Tips:
      - Terraformとの併用: tips/terraform.md
      - 名前付きプラン: tips/named_plan.md
      - local-execハンドラ: tips/local_exec_handler.md
      - 共有サーバ上での実行(strictモード): tips/strict_mode.md
